POSTGRES_PASSWORD=SECRET_PASSWORD
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=admin
NEXTCLOUD_TRUSTED_DOMAINS=localhost,127.0.0.1,localhost:8080,127.0.0.1:8080
CA_STORE=/usr/local/share/ca-certificates
NEXTCLOUD_VERSION=stable-apache

GARAGES3_BUCKET=nextcloud
GARAGES3_KEY=
GARAGES3_KEY_ID=
GARAGES3_SECRET=
GARAGES3_HOSTNAME=garage
GARAGES3_PORT=3900
GARAGES3_REGION=garage
GARAGES3_USE_SSL=false
GARAGES3_USE_PATH_STYLE=true
GARAGES3_AUTOCREATE=true
GARAGES3_VERIFY_BUCKET_EXISTS=true
