nextcloud:
  default: stable35

app:
  id: myapp
  source: .
  path: /var/www/html/apps-extra/myapp
  runtime_user: www-data

services:
  app: app
  worker: dev-worker

http:
  port: 8080
tests:
  phpunit:
    command: vendor/bin/phpunit -c tests/php/phpunit.xml
    working_directory: /var/www/html/apps-extra/myapp
    user: root
  behat:
    command: vendor/bin/behat
    working_directory: /var/www/html/apps-extra/myapp/tests/integration
    user: runtime
  frontend:
    working_directory: /workspace/app
